@import "tailwindcss";



/* Global Primary Color */
@theme {
  --color-primary: #5f6FFF;
}

@theme {
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}




.active hr{
    @apply block
 }

 /* remove this to add scroller in main page   & also remove in SpecialityMenu.jsx */
 ::-webkit-scrollbar{    
    @apply hidden
 }